body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #199acc;
  }
  
  .container {
    text-align: center;
    background: #dcc813;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(204, 17, 17, 0.2);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input[type="datetime-local"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #countdown {
    margin-top: 20px;
  }
  
  .time {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .hidden {
    display: none;
  }
  